{% extends 'base.html.twig' %}

{% block title %}La Boutique Française{% endblock %}

{% block content %}
    <h1>Modification de votre mot de passe</h1>
    <a href={{ path('app_account')}}>Retour au compte</a><br>
    <br>
    {% if notification %}
        <div class="alert alert-info">{{ notification }}</div>
    {% endif %}
    {{ form(form)}}
{% endblock %}
